@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300&family=Open+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.background{
    background: url('./assets/bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
  }
